* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 148, 212);
  }
  
  /* estilo del titulo */
  h1 {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
  }
  
  /* crear dos columnas */
  nav {
    float: left;
    width: 30%;
    height: 300px; 
    padding: 20px;
    background: white
  }
  
  /* estilo de lista */
  nav ul {
    list-style-type: none;
    padding: 0;

    
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 300px;
    background-color: darkgrey;
  }
  
  /* limpiar columnas flotantes */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* estilo del footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }