* {
    box-sizing: border-box;

  }

  body {background-color: aqua;}

.titulo1 {
    text-align: center;
} 

  .menu {
    float: left;
    width: 20%;
    text-align: center;
    
  }
  
  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    text-align: center;
  }
  
  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  .parrafo {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: blanchedalmond;
  }
  .imagen {
    height: 400px;
    width: 500px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    border-radius: 15px;
    float: left;
    padding: 5px;
}